<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <!-- New Module: Route Module Name <vendor>/<ModuleName> -->
    <module name="Wesam_CustomRoute" setup_version="1.0.0">
        <sequence>
            <!-- Parent Module -->
            <module name="Magento_Catalog"/>
        </sequence>
    </module>
</config>